.architectury-transformer/
.vscode/
.gradle/
build/
eclipse/
out/
asm/
bin/
.idea/
.metadata/
.settings/
libs/
logs/

*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.class

Thumbs.db

run/*
!run/config/
run/config/*
!run/config/fabric_loader_dependencies.json
