.architectury-transformer/
.vscode/
.gradle/
build/
eclipse/
out/
asm/
bin/
.idea/
.metadata/
.settings/
libs/
logs/

*.psd
*.iml
*.ipr
*.iws
*.classpath
*.project
*.class

Thumbs.db

modules/*/run/*
!modules/*/run/config/
modules/*/run/config/*
!modules/*/run/config/fabric_loader_dependencies.json

modules/**/src/generated/
